{% extends 'base.html' %}
{% load bootstrap5 %}
{% comment %} 해쉬태그 링크를 만들기 위한 커스텀 템플릿 태그(필터가 들어있는) 로드 {% endcomment %}
{% load make_link %}
{% load humanize %}

{% block content %}
  <h1>DETAIL PAGE</h1>
  <hr>
  <p>제목: {{ review.title }}</p>
  <p>영화 제목: {{ review.movie_title }}</p>
  <div>
    {% if review.image %}
      <img src="{{ review.image.url }}" alt="article_image">
    {% endif %}
  </div>
  {% comment %} 해쉬태그 필터 적용 {% endcomment %}
  {% comment %} safe를 설정하지 않으면 해당 링크가 문자열 그대로 표현된다. {% endcomment %}
  <p>리뷰: {{ review|hashtag_link|safe }}</p>
  {% comment %} <p>{{ review.rank }}</p> {% endcomment %}
  <p>작성 시간: {{ review.created_at|naturalday }}</p>
  <p>수정 시간: {{ review.updated_at|naturaltime }}</p>
  <div>
    <form action="{% url 'community:likes' review.pk %}" method="POST">
      {% csrf_token %}
       {% comment %} 만약 현재 유저가 좋아요를 누른 상태라면 {% endcomment %}
      {% if request.user in review.like_users.all %}
        <button class="btn btn-link">
          <i class="fas fa-heart" style="color: crimson;"></i>
        </button>
      {% else %}
       {% comment %} 좋아요를 누르지 않았다면 좋아요 {% endcomment %}
        <button class="btn btn-link">
          <i class="far fa-heart" style="color: black";></i>
        </button>
      {% endif %}
    </form>
    <span><b>{{ review.like_users.all|length }}명이 이 글을 좋아합니다.</b></span>
  </div>
  <br>
  {% if request.user == review.user %}
    <button class="btn btn-primary btn-sm"><a href="{% url 'community:update' review.pk %}" class="text-light text-decoration-none">UPDATE</a></button>
    {% comment %} <a href="{% url 'community:update' review.pk %}" class="btn btn-primary btn-sm d-inline">UPDATE</a> {% endcomment %}
    <form action="{% url 'community:delete' review.pk %}" method="POST" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm">DELETE</button>
    </form>
  {% endif %}
  <hr>
  <h4>댓글 목록</h4>
  <p>{{ comments|length }}개의 댓글이 있습니다.</p>
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if request.user == comment.user %}
          <form action="{% url 'community:comments_delete' review.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE" class="ms-1 btn btn-outline-secondary btn-sm">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>아직 댓글이 없네요...</p>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인 하세요.]</a>
  {% endif %}
  <a href="{% url 'community:index' %}">BACK</a>
{% endblock %}