{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}
  {% for review in reviews %}
    <div class="d-flex justify-content-center mt-5 mb-5">
      <div class="card" style="width: 40rem;">
        <div class="p-3 d-flex justify-content-between">
          <div class="d-inline">
            {% if review.user.image %}
              <span><img src="{{ review.user.image.url }}" alt="article_image" class="rounded-circle" style="width: 30px; height: 30px;"></span>
            {% endif %}
            <b class="d-inline ms-2"><a href="{% url 'accounts:profile' review.user.pk %}" class="text-decoration-none text-dark">{{ review.user.username }}</a></b>
          </div>
          <i class="fas fa-ellipsis-h mt-2"></i>
        </div>
        <img src="{{ review.image.url }}" class="card-img-top" alt="...">
        <div class="card-body pt-0">
          <div class="mb-3">
            <form class="like-form" data-review-id="{{ review.pk }}">
              {% csrf_token %}
              {% comment %} 만약 현재 유저가 좋아요를 누른 상태라면 {% endcomment %}
              {% if request.user in review.like_users.all %}
                <button id="like-btn-{{ review.pk }}" class="btn btn-link">
                  <i class="fas fa-heart" style="color: crimson;"></i>
                </button>
              {% else %}
              {% comment %} 좋아요를 누르지 않았다면 좋아요 {% endcomment %}
                <button id="like-btn-{{ review.pk }}" class="btn btn-link ps-0 pb-0">
                  <i class="far fa-heart" style="color: black";></i>
                </button>
              {% endif %}
            </form>
            <span id="like-count-status-{{ review.pk }}">{{ review.like_users.all|length }}명이 이 글을 좋아합니다.</span>
          </div>
          <a href="{% url 'community:detail' review.pk %}" class="h5 text-decoration-none text-dark">{{ review.title }}</a>
          <p class="mt-2">{{ review.movie_title }}</p>
          <a href="{% url 'community:detail' review.pk %}" class="text-decoration-none text-secondary">더보기</a>
        </div>
      </div>
    </div>


  {% endfor %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const likeForms = document.querySelectorAll('.like-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
	  // forEach를 통해 각각의 폼에 대한 작업을 처리
    likeForms.forEach(function (likeform) {
      likeform.addEventListener('submit', function (event) {
        // form의 submit 이벤트 기본 동작을 중단시켜 페이지가 새로고침되지 않도록 함
        event.preventDefault()
        const reviewId = event.target.dataset.reviewId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/${reviewId}/like/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(function (response) {
          // 요청으로 인해 실행된 views.py의 like함수에서 처리 결과로 반환한 JSON 데이터를 구조 분해 할당을 통해 변수에 저장
          const { liked, likeCount } = response.data

          const likeBtn = document.querySelector(`#like-btn-${reviewId}`)
          const likeCountStatus = document.querySelector(`#like-count-status-${reviewId}`)
		      // 좋아요를 누른 상태에 따라 다른 하트 아이콘을 표시
          likeBtn.innerHTML = liked ? '<i class="fas fa-heart fa-lg" style="color:crimson;"></i>' : '<i class="far fa-heart fa-lg" style="color:black;"></i>'
          likeCountStatus.innerText = `${likeCount} 명이 이 글을 좋아합니다.`
        })
        // 비로그인 상태로 401에러가 발생한다면 로그인 페이지로 이동
        .catch(function (err) {
          if (err.response.status === 401) {
            window.location.href = 'http://127.0.0.1:8000/accounts/login/'
          }
        })
      })
    })
    
  </script>
{% endblock %}