{% extends 'base.html' %}
{% load bootstrap5 %}
{% load socialaccount %}
{% load static %}


{% block content %}
  <h1>LOGIN</h1>
  <hr>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary mb-3" value="로그인">
  </form>
  <a href="{% provider_login_url 'google' next="/community/" %}"><img src="{% static "social_login/google_login.png" %}" alt="google_login"></a>
  <hr>
  <a href="{% url 'community:index' %}">BACK</a>
{% endblock %}