{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="text-center">
    {% with followings=person.followings.all followers=person.followers.all %}
      <div class="mb-2">
        <div class="d-flex justify-content-center">
          <div class="w-50 h-50">
            {% if person.image %}
              <img src="{{ person.image.url }}" alt="person_image" class="mb-3 rounded-circle w-25 h-25" >
            {% else %}
              <img src="../../media/profile_images/2021/05/23/default_profile.jpg" alt="person_image" class="mb-3 rounded-circle w-25 h-25" >
            {% endif %}
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <h2 class="d-inline me-3">{{ person.username }}</h2>
          {% if person != request.user %}
            <form id="follow-form" data-person-id="{{ person.pk }}">
              {% csrf_token %}
              {% if request.user in followers %}
                <button class="btn btn-secondary btn-sm">언팔로우</button>
              {% else %}
                <button class="btn btn-primary btn-sm">팔로우</button>
              {% endif %}
            </form>
          {% else %}
            <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-sm me-1">회원정보수정</a>
            <form action="{% url 'accounts:delete' %}" method="POST" class="d-inline">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm">회원탈퇴</button>
            </form>
          {% endif %}
        </div>
      </div>
      <div>
        <p class="d-inline me-4">게시물 {{ person.review_set.all|length }}</p>
        <p id="follower-count-status" class="d-inline me-4">팔로워 {{ followers|length }}</p>
        <p id="following-count-status" class="d-inline">팔로우 {{ followings|length }}</p>
      </div>
    {% endwith %}
  </div>
  <hr>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followForm = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  // 좋아요 구현과 같은 로직
  followForm.addEventListener('submit', function (event) {
    event.preventDefault()
    const personId = event.target.dataset.personId

    axios({
      method: 'post',
      url: `http://127.0.0.1:8000/accounts/${personId}/follow/`,
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(function (response) {
      const { following, followerCount, followingCount } = response.data

      const followerCountStatus = document.querySelector('#follower-count-status')
      const followingCountStatus = document.querySelector('#following-count-status')
      const followBtn = document.querySelector('#follow-form > button')

      followerCountStatus.innerText = `팔로워 ${followerCount}`
      followingCountStatus.innerText = `팔로잉 ${followingCount}`
	    // 팔로우 여부에 따라 버튼의 색상과 문구 선택
      if (following) {
        followBtn.classList.remove('btn-primary')
        followBtn.classList.add('btn-secondary')
        followBtn.innerText = '언팔로우'
      } else {
        followBtn.classList.remove('btn-secondary')
        followBtn.classList.add('btn-primary')
        followBtn.innerText = '팔로우'
      }
    })
  })
</script>
{% endblock %}