{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="text-center">
    {% with followings=person.followings.all followers=person.followers.all %}
      <div class="mb-2">
        <div>
          {% if person.image %}
            <img src="{{ person.image.url }}" alt="person_image" class="mb-3">
          {% endif %}
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <h2 class="d-inline me-3">{{ person.username }}</h2>
          {% if person != request.user %}
            <form action="{% url 'accounts:follow' person.pk %}" method="POST" class="d-inline">
              {% csrf_token %}
              {% if request.user in followers %}
                <button class="btn btn-primary btn-sm">언팔로우</button>
              {% else %}
                <button class="btn btn-primary btn-sm">팔로우</button>
              {% endif %}
            </form>
          {% else %}
            <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-sm me-1">회원정보수정</a>
            <form action="{% url 'accounts:delete' %}" method="POST" class="d-inline">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm">회원탈퇴</button>
            </form>
          {% endif %}
        </div>
      </div>
      <div>
        <p class="d-inline me-4">게시물 {{ person.review_set.all|length }}</p>
        <p class="d-inline me-4">팔로워 {{ followers|length }}</p>
        <p class="d-inline">팔로우 {{ followings|length }}</p>
      </div>
    {% endwith %}
  </div>
  <hr>
{% endblock content %}